<div class="col-lg-12 topic-box mt-3" *ngIf="topic">
    <div class="topic-data col-lg-9 float-left">
        <h1>{{topic.title}}</h1>
        <span class="badge badge-warning mr-2" *ngIf="topic.lang">
      {{topic.lang}}
    </span>
        <span class="badge badge-primary">
      {{topic.user.name + ' ' + topic.user.surname}}
    </span>
        <span class="badge badge-light ml-2">
      {{topic.date | amLocale:'es' | amTimeAgo}}
    </span>

        <p id="topic-content" class="mt-2">
            {{topic.content}}
        </p>

        <p id="topic-code" class="mt2" *ngIf="topic.code && topic.lang">
            <ngx-highlight-js lang="{{topic.lang}}" code="{{topic.code}}">
            </ngx-highlight-js>
        </p>
    </div>

    <div class="clearfix"></div>

    <div id="comment-box" class="mt-2 mb-4 col-lg-9">
        <h3>Comentarios</h3>
        <hr>

        <div class="alert alert-success mt-3" *ngIf="status == 'success'">
            El comentario se ha añadido correctamente.
        </div>

        <div class="alert alert-danger mt-3" *ngIf="status == 'error'">
            El comentario no se ha añadido.
        </div>

        <ul class="list-group list-comments">
            <li class="list-group-item comment-item" *ngFor="let comment of topic.comments">

                <div class="avatar_mask float-left mr-3" *ngIf="comment.user.image">
                    <img src="{{ url + 'avatar/' + comment.user.image }}" class="avatar_nav" />
                </div>
                <div class="avatar_mask float-left mr-3" *ngIf="!comment.user.image">
                    <img src="../../../assets/images/default.jpg" class="avatar_nav" />
                </div>

                <span class="badge badge-primary mt-3 mb-2">
          {{comment.user.name + ' ' + comment.user.surname}}
        </span>
                <span class="badge badge-light ml-2 mt-3 mb-2">
          {{comment.date | amLocale:'es' | amTimeAgo}}
        </span>



                <span id="topic-code" class="d-block" *ngIf="comment.content && topic.lang">
          <ngx-highlight-js lang="{{topic.lang}}" code="{{comment.content}}">
          </ngx-highlight-js>
        </span>
                <!--<span class="d-block">{{comment.content}}</span>-->

                <button (click)="deleteComment(comment._id)" class="btn btn-sm btn-danger float-right mb-1" *ngIf="identity._id == comment.user._id">
          Borrar
        </button>

            </li>
        </ul>
        <hr>

        <form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity">
            <div class="form-group">
                <label for="content">Pon tu comentario</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="comment.content" required class="form-control"></textarea>
                <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
          El contenido no es válido.
        </small>
            </div>
            <input class="btn btn-success" type="submit" value="Comentar" [disabled]="formComment.invalid" />
        </form>
    </div>
</div>